
.backdrop {
    position: fixed;
    /* ПРи позиционировании fixed оно имеет релативное позиционирование */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(34, 32, 32, 0.45);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: var(--main-colar-modal);
    width: 35rem;
    height: 22rem;
    margin: 9.5rem auto;
    border: 2px solid black;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 10px;
    transition: background 2s ease-in;
}

.wrapper svg {
    position: absolute;
    color: rgba(247, 242, 242, 0.79);
    font-size: 3rem;
    top: -5rem;
    right: -2.2rem;

}


.wrapper h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2.18rem;
    color: red;
    margin: 15px 0;
}


.form {
    position: relative;
    height: 85%;
    margin: 0 1.4rem;
}


.form input {
    width: 100%;
    color: white;
    height: 3rem;
    display: block;
    border: 1px solid white;
    margin: 1.5rem 0;
    background-color: black;
    font-size: 1.3rem;
    padding: 0 1rem;
}


.form input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}



.button_slider {
    font-size: 1.1rem;
    margin: 20px 0;
    background-color: red;
    color:white;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: box-shadow 0.3s ease;
    border: 1px solid gray;
}
.button_slider:hover {
    box-shadow: 0 7px 9px rgba(243, 4, 4, 0.5);
}



.logo__form {
    position: relative;
    margin: 0 auto;
}

.logo__form > img {
    width: 15rem;
    height: 4rem;
}


.error1 {
    position: absolute;
    color: #e50813;
    top: 4.8rem;
    font-size: 0.9rem;

}

.error2 {
    position: absolute;
    color: #e50813;
    top: 9.3rem;
    font-size: 0.9rem;
}


