.container_update_password {
    min-height: 32rem;
    border: 2px solid var(--color-titles);
    width: 38rem;
    margin: 3rem auto;
}

.title_update_password {
    font-size: 3rem;
    margin-top: 2rem;
    color: var(--color-titles);
    text-shadow: 1px 2px 0.5px rgba(160, 156, 156, 0.8), 0 1px 1px #000, 0 0 0.5px #000, 0 0 1px;
    border-bottom: 3px solid var(--color-titles);
    font-style: italic;
    text-align: center;
}

.form_password_update {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.8rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2rem;
}

.form_password_update input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.password_update_input {
    width: 100%;
    border: 2px solid var(--color-for-words);
    background-color: var(--background--color-input_forgot_password);
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    color: var(--color-for-words);
    height: 2.5rem;
}

.error_update_password_1 {
    position: absolute;
    color: red;
    top: 12rem;
    font-size: 1.2rem;
}

.error_update_password_2 {
    position: absolute;
    color: red;
    top: 16.3rem;
    font-size: 1.2rem;
}
.error_update_password_3 {
    position: absolute;
    color: red;
    top: 20.7rem;
    font-size: 1.2rem;
}

.button_update_password {
    font-size: 1.1rem;
    margin: 1.2rem 0;
    background-color: red;
    color: white;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: box-shadow 0.3s ease;
    border: 1px solid gray;
}

.button_update_password:hover {
    box-shadow: 0 7px 9px rgba(243, 4, 4, 0.5);
}

.error_update_password {
    margin: -1rem auto 0.9rem auto;
    width: 81%;
    color: #eb1717;
    border: 2px solid rgba(221, 18, 18, 0.51);
    font-size: 1.3rem;
    border-radius: 8px;
    padding: 1rem;
}

