.container_update_password {
    min-height: 22rem;
    border: 0.2rem solid var(--color-for-words);
    width: 98%;
    margin: 1rem 0 0.6rem 0.6rem;
}

.title_update_password {
    font-size: 2rem;
    color: var(--color-titles);
    text-shadow: 0.1rem 0.15rem 0.12rem rgba(160, 156, 156, 0.8), 0 0.1rem 0.1rem #000, 0 0 0.5px #000, 0 0 1px;
    border-bottom: 0.2rem solid var(--color-titles);
    font-style: italic;
    text-align: center;
}

.form_password_update {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.4rem;
    margin-left: 0.5rem;
    padding: 0.5rem 0.5rem;
}

.form_password_update input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.password_update_input {
    width: 40%;
    border: 0.2rem solid var(--color-for-words);
    background-color: var(--background--color-input_forgot_password);
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    color: var(--color-for-words);
    height: 2.5rem;
}

.error_update_password_1 {
    position: absolute;
    color: red;
    top: 7rem;
    font-size: 1.2rem;
}

.error_update_password_2 {
    position: absolute;
    color: red;
    top: 10.8rem;
    font-size: 1.2rem;
}

.error_update_password_3 {
    position: absolute;
    color: red;
    top: 14.7rem;
    font-size: 1.2rem;
}

.button_update_password {
    width: 40%;
    height: 2.3rem;
    position: relative;
    font-size: 1rem;
    background-color: red;
    color: white;
    border-radius: 0.4rem;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: box-shadow 0.3s ease;
    border: 1px solid gray;
    margin-top: 0.3rem;
}

.button_update_password:hover {
    box-shadow: 0 7px 9px rgba(243, 4, 4, 0.5);
}


@media (max-width: 768px) {
    .password_update_input {
        width: 53%;
    }
    .button_update_password {
        width: 53%;
    }

}


