.loading__movie {
    position: relative;
    top: 4.7rem;
    z-index: 999;
}

.heignt__poster {
    height: 38rem;
}

.containers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.movie-content {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15.5rem;
    position: relative;
    padding: 0 2rem;
}

.movie-content__poster {
    flex: 1;
}

.movie-content__poster__img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding-top: 165%;
}


.movie-content__info {
    width: 70%;
    padding-left: 2rem;
    position: relative;

}

.title {
    font-size: 4.6rem;
    line-height: 1;
    margin: 1rem 0 6rem 0;
}


.genres {
    display: flex;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.overview {
    color: var(--color-words-detail-movie);
    font-size: 1.7rem;
    margin-bottom: 2.5rem;
    line-height: 2rem;
}


.data__movie__release {
    margin-bottom: 1.2rem;
    text-shadow: 2px 0 1.3px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 0.5px #000;
    font-size: 1.7rem;
    font-style: italic;
}

.data__movie__release span {
    color: #ffffff;
}


.data__movie__release i {
    margin-left: 0.5rem;
    font-size: 2rem;
    color: red;
    text-shadow: 0 0 0.2px #000,
    0 0 0.3px #000,
    -0.1px 0 0 #000,
    0 -0.2px 0.2px #000;
}


.data__movie__block {
    display: flex;
    margin-bottom: 1rem;
}


.data__movie__block svg {
    font-size: 2rem;
    color: red;
}

.data__movie__reting {
    text-shadow: 2px 0 1.3px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 0.5px #000;
    font-style: italic;
    font-size: 2rem;
    margin-right: 0.5rem;
}

