
.form_edit_user {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.4rem;
    margin-left: 0.5rem;
    margin-top: 1.7rem;
    padding: 0.5rem 0.5rem;
}

.form_edit_user input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.edit_user_input {
    width: 100%;
    border: 0.2rem solid var(--color-for-words);
    background-color: var(--background--color-input_forgot_password);
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    color: var(--color-for-words);
    height: 2.5rem;
}

.error_edit_user_1 {
    position: absolute;
    color: red;
    top: 3.2rem;
    font-size: 1rem;
    font-weight: 500;
}

.error_edit_user_2 {
    position: absolute;
    color: red;
    top: 7.2rem;
    font-size: 1rem;
    font-weight: 500;
}


.button_edit_user {
    position: relative;
    font-size: 1rem;
    background-color: red;
    color: white;
    border-radius: 0.4rem;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: box-shadow 0.3s ease;
    border: 1px solid gray;
    margin-top: 0.3rem ;
}




