.cards {
    display: inline-block;
    transition: transform .2s;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 0.19rem;
    cursor:pointer;
    min-width:12.5rem;
    height:19rem;
    z-index:0;
    border: 1px solid rgb(99, 99, 99);
}

.cards:hover {
    transform: scale(1.08);
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.cards__img {
    height: 19rem;
}

.cards__overlay {
    position: absolute;
    padding: 0 1rem 1rem 1rem;
    bottom: 0;
    height: 18rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 0;
    transition: opacity .2s;
}

.cards__overlay:hover {
    opacity: 1;
}

.card__title {
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: 0.4rem;
    color: white;
    text-shadow: 1px 2px 0.5px #000c,
    0 1px 1px #000,
    0 0 0.5px #000,
    0 0 1px;
}

.data__movie{
    color: black;
    background: white;
    font-weight: 900;
    padding: 1px;
    border-radius: 5px;
}


.card__runtime {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .75rem;
    margin-bottom: 0.25rem;
}



.card__description {
    font-style: italic;
    font-size: .75rem;
    margin-bottom: 0.25rem;
}