.wrapper_profile{
    display: grid;
    grid-template-columns: 24rem 60rem;
    gap: 2.5rem;
    margin-top: 2rem;
    margin-left: 3rem;
    min-height: 60rem;
    width: 92%;
}

.wrapper_profile_img{
    text-align: center;
    padding: 0.2rem;
}

.profile_img{
    border: 0.15rem solid rgb(255, 255, 255);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 31.5rem;
    width: 25rem;
    margin: 0.4rem;
    margin-top: 0.8rem;
    border-radius: 5px ;

}

.title_userName{
    width: 98%;
    border-radius: 5px ;
    border: 0.12rem solid rgba(255, 255, 255, 0.77);
    margin: 1rem 0 1.6rem 0.6rem;
    font-size: 1.9rem;
    padding: 0.3rem;
    padding-left: 1rem;
    text-align: left;
    color: white;
}

.block_uset_data{
    width: 98%;
    border-radius: 5px ;
    height: 45%;
    margin: 1rem 0 0.6rem 0.6rem;
    border: 0.12rem solid rgba(255, 255, 255, 0.77);
}

.block_uset_data{
    width: 98%;
    display: grid;
    grid-template-columns: 40% 50%;
}


.data{
    color: white;
    font-style: italic;
    font-size: 1.8rem;
    margin: 0.8rem 0.8rem;
}

