
.block_batton{
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 0.8rem;
}

.block_batton button{
    width:10rem;
}

.message_loadFile{
    display: inline-block;
    width: 100%;
    margin-left: 0.5rem;
    color: white;
    font-size: 0.85rem;
    font-style: italic;
    text-align: left;
}
.message_loadFile button{
    background-color: white;
    color: black;
    border: 0.1rem solid white;
    cursor: pointer;
    margin-left: 0.3rem;
    font-size: 0.8rem;
    font-style: italic;
    border-right: 0.2rem;
    padding: 0 0.1rem;
}

.opasity_button{
    opacity: 0;
    transition: opacity 0.3ms ease;
}