
.block_batton {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 0.8rem;

}

.block_batton button {
    width: 10rem;
    height: 3rem;
    color: var(--color-for-words) !important;
    border: 0.15rem solid var(--bottom-avatar) !important;
}

.message_loadFile {
    display: inline-block;
    margin-left: 0.5rem;
    color: var(--color-for-words);
    font-size: 0.85rem;
    font-style: italic;
    text-align: left;
}

.message_button {
    display: inline;
    background-color: white;;
    cursor: pointer;
    margin-left: 0.3rem;
    font-size: 0.8rem;
    font-style: italic;
    padding: 0 0.2rem;
    border: 0.15rem solid var(--bottom-avatar) !important;
}

.opasity_button {
    opacity: 0;
    transition: opacity 0.3ms ease;
}


@media (max-width: 992px) {
    .block_batton button {
        width: 9.5rem;
    }

}

@media (max-width: 768px) {
    .block_batton button {
        width: 8rem;
        height: 2.5rem;
    }

    .block_batton span svg {
        font-size: 1.2rem !important;
    }

    .message_loadFile {
        margin-left: 0.3rem;
        font-size: 0.85rem;

    }
}

@media (max-width: 576px) {
    .block_batton {
        flex-direction: column;
        width: 95%;
    }
    .message_loadFile {
        margin-left: 0.5rem;
        font-size: 1.3rem;
    }
}

