
.block_batton{
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 0.8rem;
}

.block_batton button{
    width:10rem;
    color: var(--color-for-words)!important;
    border: 0.15rem solid var(--bottom-avatar) !important;
}

.message_loadFile{
    display: inline-block;
    margin-left: 0.5rem;
    color: var(--color-for-words);
    font-size: 0.85rem;
    font-style: italic;
    text-align: left;
}
.message_button{
    display: inline;
    background-color: white;;
    cursor: pointer;
    margin-left: 0.3rem;
    font-size: 0.8rem;
    font-style: italic;
    padding: 0 0.2rem;
}

.opasity_button{
    opacity: 0;
    transition: opacity 0.3ms ease;
}