.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.pagination button{
    color: var(--color-pagination);
    font-size: 1.3rem;
    font-weight: 700;
    min-width: 2.2rem;
    height: 2.2rem;
}

.pagination div{
    color: white;
}