.wrapper_edit_profile{
    display: grid;
    grid-template-columns: 24rem 60rem;
    margin-top: 2rem;
    margin-left: 2.5rem;
    min-height: 50rem;
    width: 92%;
}

.wrapper_edit_profile_block{
    display: grid;
    padding: 0.2rem;
}

.profile_edit_img{
    border: 0.1rem solid rgb(255, 255, 255);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 29.2rem;
    width: 22rem;
    margin: 0.4rem;
    margin-top: 0.8rem;
    border-radius: 5px ;
}




.block_edit_email{
    position: relative;
    width: 98%;
    height: 8rem;
    border-radius: 5px ;
    border: 0.12rem solid rgba(255, 255, 255, 0.77);
    margin: 1rem 0 1.6rem 0.6rem;
    font-size: 1.9rem;
    padding: 0.3rem;
    color: white;
}

.title_edit_email {
    font-size: 2rem;
    color: var(--color-titles);
    text-shadow: 1px 2px 0.5px rgba(160, 156, 156, 0.8), 0 1px 1px #000, 0 0 0.5px #000, 0 0 1px;
    border-bottom: 3px solid var(--color-titles);
    font-style: italic;
    text-align: left;
    width: 11.5rem;
    margin-left: 0.7rem;
    margin-top: 0.15rem;
}

.edit_user_email{
    display: grid;
    align-self:end;
    justify-self:start;
    margin-left: 0.5rem;
    font-size: 1.4rem;
}


.edit_email{
    display: grid;
    grid-template-columns: 30% 35% 35%;
    justify-items: start;
    align-items: end;
    margin-top: 1rem;
}


.block_user_edit_data{
    display: grid;
    grid-template-rows: 1fr 6fr;
    width: 98%;
    border-radius: 5px ;
    height: 20rem;
    margin: 1rem 0 0.6rem 0.6rem;
    border: 0.12rem solid rgba(255, 255, 255, 0.77);
}

.grid_user_edit_data{
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 1.5rem;
}

.title_edit_profile{
    width: 12rem;
    font-size: 2rem;
    color: var(--color-titles);
    text-shadow: 1px 2px 0.5px rgba(160, 156, 156, 0.8), 0 1px 1px #000, 0 0 0.5px #000, 0 0 1px;
    border-bottom: 3px solid var(--color-titles);
    font-style: italic;
    text-align: left;
    margin-left: 0.7rem;
    margin-top: 0.25rem;
}


.edit_data{
    color: white;
    font-style: italic;
    font-size: 1.5rem;
    margin: 2.6rem 0.8rem;
}

.error_edit_profile{
    position: absolute;
    width: 100%;
    color: red;
    top: 6.2rem;
    right: -28.5rem;
    font-size: 0.9rem;
}

.email_edit_input {
    width: 90%;
    border: 2px solid var(--color-for-words);
    background-color: var(--background--color-input_forgot_password);
    padding: 0.1rem 0.8rem;
    font-size: 1rem;
    border-radius: 5px;
    color: var(--color-for-words);
    height: 2.2rem;
    outline: none;
}

.email_edit_input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}


.invalid{
    border: 1px solid #e60808;
}

.button_edit_profile {
    font-size: 0.75rem;
    padding: 0.1rem;
    background-color: red;
    color: white;
    border-radius: 0.3rem;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: box-shadow 0.3s ease;
    border: 1px solid gray;
}



