.wrapper_edit_profile{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 2.5rem;margin-left: 2.5rem;
    min-height: 50rem;
    width: 92%;
}

.wrapper_edit_profile_img{
    text-align: center;
    padding: 0.2rem;
}

.profile_edit_img{
    border: 0.15rem solid rgb(255, 255, 255);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 27.2rem;
    max-width: 25rem;
    margin: 0.4rem;
    margin-top: 0.8rem;
    border-radius: 5px ;

}


.block_edit_email{
    width: 98%;
    border-radius: 5px ;
    border: 0.12rem solid rgba(255, 255, 255, 0.77);
    margin: 1rem 0 1.6rem 0.6rem;
    font-size: 1.9rem;
    padding: 0.3rem;
    padding-left: 1rem;
    text-align: left;
    color: white;
}

.title_edit_email {
    font-size: 2rem;
    color: var(--color-titles);
    text-shadow: 1px 2px 0.5px rgba(160, 156, 156, 0.8), 0 1px 1px #000, 0 0 0.5px #000, 0 0 1px;
    border-bottom: 3px solid var(--color-titles);
    font-style: italic;
    text-align: left;
    width: 14rem;
}


.edit_email{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1rem;
}









.block_user_edit_data{
    width: 98%;
    border-radius: 5px ;
    height: 45%;
    margin: 1rem 0 0.6rem 0.6rem;
    border: 0.12rem solid rgba(255, 255, 255, 0.77);
}




.edit_data{
    color: white;
    font-style: italic;
    font-size: 1.8rem;
    margin: 0.8rem 0.8rem;
}
