
.backdrop_login {
    position: fixed;
    /* ПРи позиционировании fixed оно имеет релативное позиционирование */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(34, 32, 32, 0.45);
}

.wrapper_login{
    display: flex;
    flex-direction: column;
    background: var(--main-colar-modal);
    width: 28rem;
    height: 23rem;
    margin: 6.5rem auto;
    border: 0.01rem solid black;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.6rem;
    transition: background 2s ease-in;
}

.wrapper_login svg {
    position: absolute;
    color: rgba(247, 242, 242, 0.79);
    font-size: 2.5rem;
    top: -4rem;
    right: -2.2rem;
    cursor: pointer;
}




.form {
    position: relative;
    height: 85%;
    margin: 0 1.4rem;
}


.form input {
    width: 100%;
    color: white;
    height: 2rem;
    display: block;
    border: 1px solid white;
    margin: 1.3rem 0;
    background-color: black;
    font-size: 1.2rem;
    padding: 0 1rem;
}

.form input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}


.button_login {
    font-size: 1.1rem;
    margin: 20px 0;
    background-color: red;
    color:white;
    border-radius: 0.5rem;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: box-shadow 0.3s ease;
    border: 0.1rem solid gray;
}



.logo_form {
    position: relative;
    margin: 0 auto;
}

.logo_form > img {
    width: 12rem;
    height: 3rem;
}


.error_login_1 {
    position: absolute;
    color: white;
    top: 3.5rem;
    font-size: 0.9rem;
}

.error_login_2 {
    position: absolute;
    color: white;
    top: 6.8rem;
    font-size: 0.9rem;
}

.login_form{
    position: relative;
    cursor: pointer;
    font-size: 0.7rem;
    color: white;
    margin-bottom: 0.4rem;
}

.login_form>button{
    margin-left: 1rem;
    padding: 0 0.5rem;
    border-radius: 0.1rem;
    cursor: pointer;
    border: none;
    font-size: 0.85rem;
}

.login_form svg{
    position: absolute;
    top: 4rem;
    right: 12rem;
}


.error_login{
    margin: 0.3rem auto;
    width: 90%;
    color: #eb1717;
    border:0.05rem solid rgba(221, 18, 18, 0.9);
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.7rem;
    font-weight: 700;
}