
.wrapper_activate{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    width: 45rem;
    height: 20.5rem;
    margin: 0.5rem 1rem;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    transition: background 2s ease-in;
}

.wrapper_activate svg {
    position: absolute;
    color: rgba(247, 242, 242, 0.79);
    font-size: 2.5rem;
    top: 0;
    right: -0.2rem;
    cursor: pointer;
}




.activate_title{
    font-size: 2.5rem;
    text-shadow: 1px 2px 0.5px rgba(160, 156, 156, 0.8), 0 1px 1px #000, 0 0 0.5px #000, 0 0 1px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color:var(--color-titles);
    font-style: italic;
}



.button_activate{
    font-size: 1.1rem;
    margin: 20px 0;
    background-color: red;
    color:white;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: box-shadow 0.3s ease;
    border: 1px solid gray;
}
.button_activate:hover {
    box-shadow: 0 7px 9px rgba(243, 4, 4, 0.5);
}



.message_activate{
    margin: 1rem 0;
    width: 100%;
    color: var(--color-titles);
    font-size: 1.4rem;
    padding:1.2rem 0.2rem;
    border: 0.25rem solid var(--color-titles);
}