.movie__grid{
  display: grid;
    grid-template-columns: 1.3fr 5fr;

}


.movie__filter{
    position: relative;
    margin-left: 2rem;
    margin-top: 1.3rem;
}

.movie__list {
    min-height: 50rem;
    margin-top: 1.2rem;
}




.list__cards {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}